@use "../colors";

.ctrl-center {
  border: solid 2px colors.$mantle;
  background-color: colors.$crust;

  > box {
    margin: 28px;
  }

  .icon {
    font-size: 16px;
    color: colors.$crust;

    min-width: 20px;
  }

  .separator {
    background: colors.$base;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  trough {
    background-color: colors.$surface0;
    border: none;
  }

  highlight {
    background-color: colors.$lavender;
    color: colors.$lavender;
  }

  slider {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: none;
  }

  &__dev {

  }

  &__power {
    margin-top: 8px;
  }
}
